# Ignore node_modules
node_modules/

# Ignore logs
logs
*.log

# Ignore environment variables
.env

# Ignore IDE and editor files
.vscode/
.idea/
*.swp

# Ignore Docker files
Dockerfile
Dockerfile.*
.dockerignore